.main__content {
  background-color: #f7f7f7;
}
.text {
  text-align: center;
  padding: 117px 15px 142px;

  @media (max-width: 780px) {
    padding: 75px 15px 75px;
  }
}

.text__img {
  max-width: 52px;
  margin: 0 auto;
}
.text__title {
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  line-height: 24px;
font-weight: 700;
margin: 35px 0;

}
.text__content {
  font-size: 18px;
  line-height: calc(34 / 18 *100%);
}